<p> Your auction site for auctioning other people's stuff. </p>

<ul>
  <li>
    <%= link_to("See the list of products for auction", products_path) %>
  </li>

  <li>
    <%= link_to("See the list of users", users_path) %>
  </li>

  <li>
    <%= link_to("Add a new user", new_user_path) %>
  </li>
</ul>
