code {
  background-color: #2db34a;
  border-radius: 6px;
  border: 1px solid black;
  color: #fff;
  display: block;
  padding: 24px 15px;
  text-align: center;
}

header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}


section {
  position: absolute;
  top: 200px;
  left: -400px;
}


.image-wrapper {
  overflow: auto;
}

img {
  width: 100px;
  height: 100px;
  float: left;
}
