// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.need-to-login {
  border-radius: 3px;
  padding: 20px;
  background-color: orange;
  color: white;
}
