<h2> Asciify Results </h2>

<p> Submitted text: </p>

<blockquote> <%= @text %> </blockquote>

<p> Asciified text: </p>

<pre class="ascii-text"> <%= @ascii_text %> </pre>

<%= link_to "Asciify some more text", asciis_new_path %>
