<!-- views/about.erb -->

<h1> Nizar's Page </h1>
<h2> About Me </h2>

<p> I'm Nizar. I teach coding. </p>


<% if Date.today.tuesday? %>
  <p> Hate Tuesdays. </p>
<% else %>
  <p> Glad today isn't a Tuesday. </p>
<% end %>
