<!-- views/home.erb -->

<h1> Nizar's Page </h1>
<h2> Your page for learning to make pages. </h2>

<p> Have you ever wanted to make Web application? Sure you have. </p>

<p> Discovery the Nizar experience: </p>

<ul>
  <li>
    <a href="/"> Home </a>
  </li>

  <li>
    <a href="/hi"> Hello </a>
  </li>

  <li>
    <a href="/about"> About </a>
  </li>

  <li>
    <a href="/best_pizza"> Favorite Pizza </a>
  </li>
</ul>
