<h1> Todo List App </h1>

<h2> Add a new task </h2>

<form method="post" action="/create_task">
  <input type="text" name="task_content" placeholder="Buy milk">

  <button type="submit">
    Add task
  </button>
</form>
