<h2> List of users </h2>

<ul>
  <% @users_array.each do |the_user| %>
    <li>
      <%= link_to(the_user.name, user_path(the_user)) %>
      - <%= the_user.email %>
    </li>
  <% end %>
</ul>

<%= link_to("Add a new user", new_user_path) %>
