<h2> List of projects </h2>

<ul>
  <% @projects.each do |one_project| %>
    <li>
      <%= link_to one_project.name, project_path(one_project) %>
        <!--
          <a href="/projects/7777">
            Papa John's Virtual Pizza
          </a>
        -->

      <% if one_project.description.present? %>
        - <%= one_project.description %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new project", projects_new_path %>
