<!-- app/views/blah/_navigation.html.erb -->
<!--                |                    -->
<!--      Rails needs the underscore     -->

<ul>
  <li> <a href="/"> Home </a> </li>
  <li> <a href="/contact"> Contact </a> </li>
  <li> <a href="/calculator"> Addition </a> </li>
  <li> <%= link_to "List of Projects", projects_path %> </li>
</ul>
