<!-- app/views/blah/_navigation.html.erb -->
<!--                |                    -->
<!--      Rails needs the underscore     -->

<ul>
  <li> <a href="/"> Home </a> </li>
  <li> <a href="/contact"> Contact </a> </li>
</ul>
